body {
  background-image: url(/images/IMG_0063.jpg);
  color: white;
}
.navbar-brand h1 {
  margin-top: -12px;
  color: black;
}
a {
  color: #FA00BC;
}
a:hover {
  color:  #FB0006;
}
td,tr {
  border-top: none !important;
}
.centered {
  vertical-align:middle;
  text-align:center;
}
.centered img {
  display:block;
  margin:0 auto;
}
.input-right-span {
    float: right;
    margin-right: 6px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}
.movie-list h4 {
  display: inline;
}

.star {
  background-image: url(/images/titlePageSprite-1214724556._V_.png);
  background-position: -180px -71px;
  width: 66px;
  height: 66px;
  line-height: 66px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  font-weight: bold;
  color: black;
  font-family: tahoma;
  float: left;
  padding-right: 10px;
}
.favorite {
  height: 300px;
  width: 300px;
  vertical-align: bottom;
  text-align: center;
}
.thumb {
  height: 300px;
  display: inline;
  padding: 20px;

}
