<h3>Tag List</h3>

<% tags.forEach(function(tag) { %>
  <div class="well">
    <h4>
      <a href="/tags/<%= tag[0].id %>"><span class="tag-cloud"><%= tag[0].tag %></span></a><span class="pull-right"><%= tag[1] %></span>
    </h4>
    <p>
      <ul>
      <% tag[0].favorites.forEach(function(favorite) { %>
        <li><%= favorite.title %><br/></li>
      <% }) %>
      </ul>
    </p>
  </div>
<% }); %>

